.body {
  background-color: #02182B;
}

*::-webkit-scrollbar-thumb {
  background-color: #0197F6;
}

// Button
.button {

  &:hover,
  &:focus {
    box-shadow: 0 0 10px 3px rgba(#0197F6, 0.9);
  }

  // &:focus-visible {
  //   outline-color: #0197F6;
  // }
}

// Background
// .background {

//   &::after {
//     background-color: rgba(#0197F6, 0.4);
//   }
// }

// Control
.control__progress {
  background-color: #0197F6;

  &::-webkit-progress-value {
    background-color: #0197F6;
  }
}

.control__button {

	&--active {
    box-shadow: 0 0 10px 2px #0197F6;
  }
}

.control__time {

	&--preview {
		background-color: #0197F6;
	}
}

.control__range {

  &::-webkit-slider-runnable-track {
    box-shadow: 0 0 3px 1px rgba(#0197F6, 0.9);
  }

  &::-webkit-slider-thumb {
    background-color: #0197F6;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 20px 1px rgba(#0197F6, 0.9);
  }

  &:focus-visible {
    outline: 1px solid #0197F6;
  }
}

.control__icon {
  fill: #0197F6;

  &--speed {
    stroke: #0197F6;
  }

  &--size {
    stroke: #0197F6;
  }

  &--min {
    stroke: #0197F6;
  }
}

.control__info {
	background-color: #0197F6;
}

// Footer
.footer__scheme {

  &:checked {
    box-shadow: 0 0 5px 1px rgba(#0197F6, 0.6);
  }
}

.footer__icon {
  fill: #0197F6;
  stroke: #0197F6;

  &--transparent {
    fill: none;
  }
}

.footer__copyright {
  color: #0197F6;

  &--dev {
    color: #FFFFFF;
  }
}

// Header
.header__logo {

  path:first-of-type {
    fill: #0197F6;
  }

  path:last-of-type {
    fill: #FFFFFF;
  }
}

.header__ufh {
	background-color: #0197F6;
}

.header__icon {
  fill: #0197F6;
}

// Settings
.settings {
	background-color: rgba(#02182B, 0.95);
}

.settings__video {

  &--active {
		box-shadow: 0 0 10px 6px #0197F6;
	}

	&--file {

		&:hover,
    &:focus {
      box-shadow: 0 0 10px 3px rgba(#FCF811, 0.8);
    }
	}
}

.settings__counter {
	background-color: #0197F6;
}

// Video
.video__wrapper {
  // box-shadow: 0 0 15px 5px rgba(#0197F6, 0.9);
  box-shadow: 0 0 10px #0197F6, 0 0 20px #0197F6, 0 0 30px #0197F6;

  &--error {
    // box-shadow: 0 0 15px 5px rgba($red, 0.8);
    box-shadow: 0 0 10px rgba(#F35050, 0.8), 0 0 20px rgba(#F35050, 0.8), 0 0 30px rgba(#F35050, 0.8);
  }
}

.video__icon {
  stroke: #0197F6;
}

.video__start {

  &::before {
    background-color: rgba(#0197F6, 0.3);
  }
}

// Statistic
.statistic {
  color: #0197F6;
}

// Series
.series__icon {
	fill: #0197F6;
}

.series__button {
	color: #FFFFFF;

	&--active {
		box-shadow: 0 0 10px 1px rgba(#0197F6, 0.9);
	}
}

// Message
.message {
  background-color: rgba(#0197F6, 0.9);
}
