.body {
	background-color: #F8F0FB;
}

*::-webkit-scrollbar-thumb {
	background-color: #6320EE;
}

// Button
.button {

	&:hover,
	&:focus {
		box-shadow: 0 0 10px 3px rgba(#6320EE, 0.9);
	}

	// &:focus-visible {
	// 	outline-color: #6320EE;
	// }
}

// Background
// .background {

//   &::after {
//     background-color: rgba(#6320EE, 0.4);
//   }
// }

// Control
.control__progress {
	background-color: #6320EE;

	&::-webkit-progress-value {
		background-color: #6320EE;
	}
}

.control__button {

	&--active {
    box-shadow: 0 0 10px 2px #6320EE;
  }
}

.control__time {

	&--preview {
		background-color: #6320ee;
	}
}

.control__range {

	&::-webkit-slider-runnable-track {
		box-shadow: 0 0 3px 1px rgba(#6320EE, 0.9);
	}

	&::-webkit-slider-thumb {
		background-color: #6320EE;
	}

	&:hover,
	&:focus {
		box-shadow: 0 0 20px 1px rgba(#6320EE, 0.9);
	}

	&:focus-visible {
		outline: 1px solid #6320EE;
	}
}

.control__icon {
	fill: #6320EE;

	&--speed {
		stroke: #6320EE;
	}

	&--size {
		stroke: #6320EE;
	}

	&--min {
		stroke: #6320EE;
	}
}

.control__info {
	background-color: #6320EE;
}

// Footer
.footer__scheme {

	&:checked {
		box-shadow: 0 0 5px 1px rgba(#6320EE, 0.6);
	}
}

.footer__icon {
	fill: #8075FF;
	stroke: #8075FF;

	&--transparent {
		fill: none;
	}
}

.footer__copyright {
	color: #8075FF;

	&--dev {
		color: #4287F5;
	}
}

// Header
.header__ufh {
	background-color: #8075FF;
}

.header__icon {
	fill: #8075FF;
}

// Settings
.settings {
	background-color: rgba(#8075FF, 0.95);
}

// .settings__button {

// 	&:hover,
// 	&:focus {
// 		box-shadow: none;
// 		background-color: #8075FF;
// 	}

// 	&--active {
// 		background-color: #4287F5;
// 	}
// }

.settings__video {

	&--active {
		box-shadow: 0 0 10px 6px #6320EE;
	}

	&--file {

		&:hover,
    &:focus {
      box-shadow: 0 0 10px 3px rgba(#FCF811, 0.8);
    }
	}
}

.settings__counter {
	background-color: #4287F5;
}

// Video
.video__wrapper {
	// box-shadow: 0 0 15px 5px rgba(#6320EE, 0.8);
	box-shadow: 0 0 10px #8075FF, 0 0 20px #8075FF, 0 0 30px #8075FF;

	&--error {
    // box-shadow: 0 0 15px 5px rgba($red, 0.8);
    box-shadow: 0 0 10px rgba(#F35050, 0.6), 0 0 20px rgba(#F35050, 0.6), 0 0 30px rgba(#F35050, 0.6);
  }
}

.video__icon {
	stroke: #8075FF;
}

.video__start {

	&::before {
		background-color: rgba(#8075FF, 0.4);
	}
}

// Statistic
.statistic {
	color: #8075FF;
}

// Series
.series__icon {
	fill: #8075FF;
}

.series__item {
	color: #8075FF;
}

.series__button {
	color: #8075FF;

	&--active {
		box-shadow: 0 0 10px 1px rgba(#6320EE, 0.9);
	}
}

// Message
.message {
	background-color: rgba(#8075FF, 0.9);
}
