.body {
	font-weight: 300;
  font-family: "Chalet", "Roboto", "Arial", sans-serif;
	background-color: #F8F0FB;
}

// Button
.button {

	&:hover,
	&:focus {
		box-shadow: 0 0 10px 3px #F27DFD;
	}

	&:focus-visible {
		outline-color: #F27DFD;
	}
}

// Background
// .background {

//   &::after {
//     background-color: rgba(#F27DFD, 0.4);
//   }
// }

// Control
.control__line {
	background-color: #F27DFD;

	&::-webkit-progress-value {
		background-color: #F27DFD;
	}
}

.control__button {

	&--active {
    box-shadow: 0 0 10px 2px #F27DFD;
  }
}

.control__time {
  font-weight: 500;
}

.control__range {

	&::-webkit-slider-runnable-track {
		box-shadow: 0 0 3px 1px rgba(#F27DFD, 0.9);
	}

	&::-webkit-slider-thumb {
		background-color: #F27DFD;
	}

	&:hover,
	&:focus {
		box-shadow: 0 0 20px 1px rgba(#F27DFD, 0.9);
	}

	&:focus-visible {
		outline: 1px solid #F27DFD;
	}
}

.control__icon {
	fill: #F27DFD;

	&--speed {
		stroke: #F27DFD;
	}

	&--size {
		stroke: #F27DFD;
	}

	&--min {
		stroke: #F27DFD;
	}
}

.control__info {
  font-weight: 500;
	background-color: #F27DFD;
}

// Footer
.footer__scheme {

	&:checked {
		box-shadow: 0 0 10px 2px #F27DFD;
	}
}

.footer__icon {
	fill: #8075FF;
	stroke: #8075FF;

	&--transparent {
		fill: none;
	}
}

.footer__copyright {

	&--dev {
		color: #F27DFD;
	}
}

// Header
.header__logo {

	path:last-child {
		fill: #8075FF;
	}
}

.header__ufh {
  background-color: #F27DFD;
}

.header__icon {
	fill: #8075FF;
}

// Settings
.settings {
	background-color: rgba(#7D88FD, 0.9);
}

.settings__button {
	margin-right: 0;
	padding: 10px 20px;
	font-size: 20px;
	font-weight: 900;
  font-family: "Pricedown", sans-serif;
	border: 0;
	border-radius: 0;
	transition: all 0.6s, font-size 0s, margin 0s;

	&:nth-child(odd) {
		clip-path: polygon(10% 0, 100% 5%, 90% 98%, 0% 100%);
	}

	&:nth-child(even) {
		clip-path: polygon(5% 5%, 100% 0, 95% 100%, 0 95%);
	}

	&:hover,
	&:focus {
		box-shadow: none;
		background-color: #F27DFD;
	}

	&--active {
    box-shadow: none;
		background-color: #F27DFD;
  }
}

.settings__label {
	margin-bottom: 10px;

	&--hide {
		margin-top: -32px;
	}
}

.settings__sub {
	font-size: 28px;
	font-weight: 900;
  font-family: "Pricedown", sans-serif;
}

.settings__time {
	font-size: 18px;
  font-weight: 900;
  font-family: "Pricedown", sans-serif;
}

.settings__tab--scroll {

	&::-webkit-scrollbar-thumb {
		background-color: #F27DFD;
	}
}

@media (min-width: 768px) {
	.settings__button {
		margin-right: 10px;
		font-size: 25px;
	}

	.settings__sub {
		margin-bottom: 30px;
		font-size: 40px;
	}

	.settings__name {
		font-size: 22px;
	}

	.settings__label {

		&--hide {
			margin-top: -40px;
		}
	}

	.settings__item {
		font-size: 22px;
	}

	.settings__text {
		font-size: 22px;
	}

	.settings__time {
		font-size: 20px;
	}
}

@media (min-width: 1440px) {
	.settings__button {
		padding: 15px 35px;
		font-size: 30px;
	}

	.settings__sub {
		margin-bottom: 40px;
		font-size: 55px;
	}

	.settings__name {
		font-size: 25px;
	}

	.settings__label {

		&--hide {
			margin-top: -44px;
		}
	}

	.settings__item {
		font-size: 25px;
	}

	.settings__text {
		font-size: 25px;
	}

	.settings__time {
		font-size: 23px;
	}
}

// Video
.video__wrapper {
	box-shadow: 0 0 15px 5px #F27DFD;
}

.video__icon {
	stroke: #F27DFD;
}

.video__start {

	&::before {
		background-color: rgba(#F27DFD, 0.3);
	}
}

.video__name {
	font-weight: 500;
}

// Statistics
.statistics {
	color: #F27DFD;
	font-weight: 500;
}

@media (min-width: 768px) {
	.statistics__category {
		margin-bottom: 5px;
		font-size: 13px;
	}
}

@media (min-width: 1440px) {
	.statistics__category {
		margin-bottom: 6px;
		font-size: 16px;
	}
}

// Series
.series__icon {
	fill: #8075FF;
}

.series__item {
	color: #F27DFD;
	font-weight: 500;
}

.series__button {
	color: #F27DFD;

	&--active {
		box-shadow: 0 0 10px 1px rgba(#F27DFD, 0.9);
	}
}

// Message
.message {
  padding: 8px 15px;
	font-weight: 500;
	background-color: rgba(#4D4D4D, 0.95);
	clip-path: none;
}

@media (min-width: 1440px) {
	.message {
		bottom: 42px;
		padding: 12px 25px;
	}
}
