.dark {
  
  // Button
  .button {
    
    &:hover,
    &:focus {
      box-shadow: 0 0 10px 5px rgba($dark-blue, 0.9);
    }

    &:focus {
      outline-color: $dark-blue;
    }

    &:active {
      box-shadow: 0 0 10px 2px rgba($dark-blue, 1);
    }
  }

  // Control
  .control__range {

    &::-webkit-slider-runnable-track {
      box-shadow: 0 0 3px 1px rgba($dark-blue, 0.9);
    }
  
    &::-webkit-slider-thumb {
      background-color: $dark-blue;
    }
  }

  .control__icon {
    fill: $dark-blue;
  }

  // Footer
  .footer__theme--active {
    box-shadow: 0 0 5px 1px rgba($dark-blue, 0.6);
  }

  .footer__icon {
    fill: $dark-blue;
    stroke: $dark-blue;
  }

  .footer__copyright {
    color: $dark-blue;

    &--name {
      color: #FFFFFF;
    }
  }

  // Header
  .header__logo {

    path:first-of-type {
      fill: $dark-blue;
    }

    path:last-of-type {
      fill: #FFFFFF;
    }
  }

  .header__icon {
    fill: $dark-blue;
  }

  // Main
  .main {
    background-color: #02182B;
  }

  // Settings
  .settings {
    background-color: rgba(#02182B, 0.8);
  }

  .settings__icon {
    fill: $dark-blue;
  }

  // Video
  .video {
    background-color: #364652;
  }

  .video__wrapper {
    box-shadow: 0 0 10px 3px rgba($dark-blue, 0.9);
  }

  .video__icon path {
    stroke: $dark-blue;
  }

  // Statistics
  .statistics {
    color: $dark-blue;
  }
}