// Main font
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-700.woff2') format('woff2');
}

// Subtitle
@font-face {
  font-display: swap;
  font-family: 'Chalet';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/chalet-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Chalet';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/chalet-500.woff2') format('woff2');
}

// Vice scheme
@font-face {
  font-display: swap;
  font-family: 'Pricedown';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/pricedown.woff2') format('woff2');
}
