// Main font
@font-face {
  font-display: swap;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/montserrat-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/montserrat-900.woff2') format('woff2');
}
