.body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-width: 360px;
  min-height: 100vh;
  margin: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #F8F0FB;
  transition: 0.5s;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-track {
  background-color: #F8F0FB;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #6320EE;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.blur {

  .background {

    &::after {
      backdrop-filter: blur(3px);
    }
  }

  .settings {
    backdrop-filter: blur(0.6px);
  }

  .statistics {
    backdrop-filter: blur(0.6px);
  }

  .control {
    backdrop-filter: blur(0.6px);
  }

  .console {
    backdrop-filter: blur(0.6px);
  }
}
