.console {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
  z-index: 4;

  &--hide {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
  }
}

.console__close {
  position: absolute;
  right: 15px;
  bottom: 26px;
  width: 45px;
  height: 45px;
  z-index: 2;
}

.console__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  fill: #FFFFFF;
}

.console__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  object-fit: cover;
}

.console__input {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
  color: #FFFFFF;
  font-size: 50px;
  font-weight: 700;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }

  &--checkbox {
    width: auto;
    padding: 0;
  }
}

.console__label {
  position: absolute;
  bottom: 35px;
  left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.console__dev {
  margin-left: 5px;
  font-size: 15px;
  font-weight: 300;
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .console__close {
    top: 25px;
    right: 25px;
    left: auto;
    width: 45px;
    height: 45px;
  }

  .console__icon {
    width: 33px;
    height: 33px;
  }

  .console__input {
    font-size: 60px;
  }

  .console__label {
    left: 30px;
  }

  .console__dev {
    margin-left: 10px;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .console__close {
    top: 35px;
    right: 35px;
    width: 60px;
    height: 60px;
  }

  .console__icon {
    width: 40px;
    height: 40px;
  }

  .console__input {
    font-size: 150px;
  }

  .console__label {
    bottom: 55px;
    left: 55px;
  }

  .console__dev {
    margin-left: 10px;
    font-size: 22px;
  }
}
