.control {
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba($dark-element, 0.5);
  transform: translateY(105%);
  transition: 0.8s;
  z-index: 9999;

  &:fullscreen {
    background-color: red;
  }

  &--hide {
    opacity: 0;
    pointer-events: none;
    transform: translateY(0);
  }

  &--off {
    display: none;
  }

  &:focus-within {
    transform: translateY(0);
  }
}

.control__line {
  position: absolute;
  top: -10px;
  left: 0;
  width: 0%;
  height: 3px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: $blue-button;
  opacity: 0.7;
  transition: 0.1s;

  &--hide {
    display: none;
  }

  &::-webkit-progress-bar {
    border-radius: 5px;
  }

  &::-webkit-progress-value {
    border-radius: 5px;
    background-color: $blue-button;
  }
}

.control__button {
  width: 35px;
  height: 35px;
  margin-right: 15px;
  transition: 0.2s;

  &:last-child {
    margin-right: 0;
  }

  &--prev {
    transform: rotate(180deg);
  }
}

.control__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  fill: $blue-button;

  &--hide {
    display: none;
  }
}

.control__box {
  display: flex;
  align-items: center;

  &:hover,
  &:focus-within {

    .control__range--volume {
      position: relative;
      opacity: 1;
      transform: scale(1);
    }
  }
}

.control__mute {
  opacity: 0;
}

.control__duration {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}

.control__time {
  margin-right: 10px;
  font-size: 11px;
  font-weight: 300;

  &:last-child {
    margin-right: 0;
  }
}

.control__range {
  appearance: none;
  position: relative;
  width: 100%;
  height: 6px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  transition: 0.2s;

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    box-shadow: 0 0 3px 1px rgba(#6320EE, 0.9);
    border-radius: 5px;
    background-color: #FFFFFF;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    margin-top: -5px;
    border-radius: 50%;
    background-color: $blue-button;
    transition: 0.2s;
    cursor: pointer;
  }

  &::-moz-range-track {
    appearance: none;
    width: 100%;
    height: 6px;
    box-shadow: 0 0 3px 1px rgba(#6320EE, 0.9);
    border-radius: 5px;
    background-color: #FFFFFF;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $blue-button;
    transition: 0.2s;
    cursor: pointer;
  }

  &--volume {
    position: absolute;
    order: 2;
    width: 60px;
    margin-right: 15px;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.4s;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 20px 1px rgba(#6320EE, 0.9);
  }

  &:focus-visible {
    outline: 1px solid #6320EE;
  }
}

@media (min-width: $tablet-width) {
  .control {
    flex-wrap: nowrap;
    padding: 15px;
  }

  .control__button {
    order: 1;

    &--size {
      order: 4;
    }
  }

  .control__box {
    order: 2;
  }

  .control__duration {
    order: 3;
    width: auto;
    margin-right: 15px;
    margin-bottom: 0;
  }

  .control__range {

    &--volume {
      width: 80px;
    }
  }
}

@media (min-width: $desktop-width) {
  .control {
    padding: 15px 20px;
  }

  .control__button {
    width: 55px;
    height: 55px;
    margin-right: 15px;
  }

  .control__icon {
    width: 30px;
    height: 30px;

    &--mute {
      width: 35px;
      height: 35px;
    }
  }

  .control__time {
    font-size: 16px;
  }

  .control__range {
    height: 10px;

    &::-webkit-slider-runnable-track {
      height: 10px;
    }

    &::-webkit-slider-thumb {
      width: 25px;
      height: 25px;
      margin-top: -9px;
    }

    &--volume {
      width: 100px;

      &::-webkit-slider-runnable-track {
        height: 8px;
      }

      &::-webkit-slider-thumb {
        width: 20px;
        height: 20px;
        margin-top: -6px;
      }
    }
  }
}

// @media (prefers-color-scheme: dark) {
//   .control__range {

//     &::-webkit-slider-runnable-track {
//       box-shadow: 0 0 3px 1px rgba($dark-blue, 0.9);
//     }

//     &::-webkit-slider-thumb {
//       background-color: $dark-blue;
//     }
//   }

//   .control__icon {
//     fill: $dark-blue;
//   }
// }
