.episode {
	margin: 0;
	margin-top: 20px;
	padding: 15px 20px;
	list-style: none;

	&--off {
		display: none;
	}
}

.episode__item {
	margin-bottom: 10px;
	font-weight: 300;
	text-align: center;

	&:last-child {
		margin-bottom: 0;
	}
}

.episode__icon {
	display: block;
	width: 35px;
	height: 35px;
	margin: 0 auto;
}

.episode__button {
	margin: 0 auto;
	padding: 10px 15px;
	font-size: 13px;
	transition: box-shadow 0.2s;
}

@media only screen and (min-width: $laptop-width) {
	.episode__item {
		font-size: 18px;
	}

	.episode__button {
		font-size: 15px;
	}
}

@media only screen and (min-width: $desktop-width) {
	.episode {
		margin-top: 0;
		margin-left: 50px;
	}

	.episode__item {
		margin-bottom: 15px;
		font-size: 20px;
	}

	.episode__button {
		font-size: 18px;
	}
}
