.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px;
}

.footer__switcher {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
}

.footer__label {
  position: relative;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__scheme {
  appearance: none;
  width: 45px;
  height: 45px;
  margin: 0;
  transition: 0.2s;

  &:checked {
    // box-shadow: 0 0 5px 1px rgba(#6320EE, 0.6);
    cursor: not-allowed;
  }
}

.footer__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  // fill: $blue-text;
  // stroke: $blue-text;

  &--transparent {
    fill: none;
  }
}

.footer__copyright {
  color: $blue-text;
  font-size: 15px;
  font-weight: 300;
  text-align: right;
  transition: 0.1s;

  &--name {
    padding: 0;
    color: #4287F5;
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: not-allowed;
  }
}

@media (min-width: $tablet-width) {
  .footer__label {
    margin-right: 15px;
  }

  .footer__copyright {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding: 50px;
  }

  .footer__scheme {
    width: 60px;
    height: 60px;
  }

  .footer__icon {
    width: 40px;
    height: 40px;
  }

  .footer__copyright {
    font-size: 22px;
  }
}
