.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px;
  transition: 0.5s;
  // z-index: 2;

  &--hide {
    transform: translateY(100%);
  }
}

.footer__switcher {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  transition: 0.3s;

  &--show {
    z-index: 4;

    .footer__icon {
      fill: #FFFFFF;
      stroke: #FFFFFF;

      &--transparent {
        fill: none;
      }
    }
  }

  // &:focus-within {
  //   outline: auto;
  //   outline-color: black;
  //   outline-offset: 5px;
  // }
}

.footer__label {
  position: relative;
  margin-right: 10px;
  transition: 0.3s;

  &:last-child {
    margin-right: 0;
  }

  &--hide {
    opacity: 0;
    transform: scale(0);
  }

  &--off {
    display: none;
  }
}

.footer__scheme {
  appearance: none;
  width: 45px;
  height: 45px;
  margin: 0;
  transition: 0.2s;

  &:checked {
    // box-shadow: 0 0 5px 1px rgba(#6320EE, 0.6);
    cursor: not-allowed;
  }
}

.footer__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  transition: 0.2s;

  &--transparent {
    fill: none;
  }
}

.footer__copyright {
  color: $blue-text;
  font-size: 15px;
  font-weight: 300;
  text-align: right;
  transition: 0.2s;
  z-index: 1;

  &--dev {
    padding: 0;
    color: #4287F5;
    font-size: inherit;
    font-family: inherit;
    border: none;
    background-color: transparent;
  }
}

@media (min-width: $tablet-width) {
  .footer__label {
    margin-right: 15px;
  }

  .footer__copyright {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding: 35px;
  }

  .footer__scheme {
    width: 60px;
    height: 60px;
  }

  .footer__icon {
    width: 40px;
    height: 40px;
  }

  .footer__copyright {
    font-size: 22px;
  }
}
