.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  padding: 25px;
  transition: transform 0.5s;
  z-index: 1;

  &--hide {
    transform: translateY(-100%);
  }
}

.header__logo {
  width: 150px;
  height: 45px;
  margin-right: 15px;

  path {
    transition: fill 0.3s, stroke 0.3s;
    transition-delay: 0.2s;
  }
}

.header__ufh {
  width: 35px;
  height: 23px;
  margin-right: auto;
  border-radius: 4px;
  transition: background-color 0.2s, transform 0.2s;

  &--off {
    transform: scale(0);
  }
}

.header__menu {
  width: 45px;
  height: 45px;

  &--error {
    animation-name: shake;
    animation-duration: 0.0800s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    .header__icon {
      fill: #FF3434;
    }
  }
}

.header__icon {
  transition: fill 0.2s, stroke 0.2s;
}

@keyframes shake {
  from {
    transform: translateX(-5%);
  }

  to {
    transform: translateX(5%);
  }
}

.header__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 28px;
  height: 28px;
  transform: translate(-50%, -50%);
  // fill: $blue-text;
}

@media only screen and (min-width: $tablet-width) {
  .header__logo {
    width: 180px;
    margin-right: 25px;
  }

  .header__ufh {
    width: 45px;
    height: 30px;
  }
}

@media only screen and (min-width: $desktop-width) {
  .header {
    padding: 35px;
  }

  .header__logo {
    width: 250px;
    margin-right: 35px;
  }

  .header__ufh {
    width: 60px;
    height: 40px;
  }

  .header__menu {
    width: 60px;
    height: 60px;
  }

  .header__icon {
    width: 40px;
    height: 40px;
  }
}
