.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #FFFFFF;
  background-color: #F8F0FB;
  transition: 0.5s;
}

// @media (prefers-color-scheme: dark) {
//   .main {
//     background-color: #02182B;
//   }
// }