.message {
  position: absolute;
  bottom: 98px;
  left: 50%;
  box-sizing: border-box;
  display: inline-block;
  width: max-content;
  max-width: 300px;
  padding: 8px 20px;
  margin: 0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  word-wrap: break-word;
  transform: translateX(-50%);
  transition: transform 0.4s;
  clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
  z-index: 5;

  &--hide {
    transform: translateX(-50%) scale(0);
  }
}

@media only screen and (min-width: 485px) {
  .message {
    bottom: 32px;
  }
}

@media only screen and (min-width: $tablet-width) {
  .message {
    bottom: 32px;
    max-width: none;
    font-size: 16px;
  }
}

@media only screen and (min-width: $desktop-width) {
  .message {
    bottom: 43px;
    padding: 15px 30px;
    font-size: 22px;
  }
}
