.settings {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding: 20px 10px;
  color: #FFFFFF;
  outline: none;
  transition: all 0.8s, background-color 0.4s;
  z-index: 3;

  &--hide {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
  }
}

.settings__close {
  position: absolute;
  right: 15px;
  bottom: 26px;
  width: 45px;
  height: 45px;
  z-index: 2;
}

.settings__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  fill: #FFFFFF;
}

.settings__wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 183px - 60px);
}

.settings__control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &--hide {
    display: none;
  }
}

.settings__button {
  margin-right: 15px;
  margin-bottom: 7px;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  border-radius: 30px;
  transition: all 0.6s, font-size 0s;
  // clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);

  &:last-child {
    margin-right: 0;
  }

  &--active {
    box-shadow: 0 0 10px 3px rgba(#FFFFFF, 0.9);
  }
}

.settings__tab {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  outline: none;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s;

  &--active {
    transform: translate(-50%, -50%) scale(1);
  }

  &--scroll {
    top: 50px;
    bottom: 50px;
    overflow-y: scroll;
    transform: translate(-50%, 0%) scale(1);
  }
}

.settings__label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
  cursor: pointer;
  transition: 0.2s;

  &:last-child {
    margin-bottom: 0;
  }

  &--hide {
    position: relative;
    margin-top: -28px;
    opacity: 0;
    transform: scale(0);
  }
}

.settings__checkbox {
  width: 15px;
  height: 15px;
  margin: 0;
  margin-right: 10px;

  &:disabled {
    cursor: not-allowed;
  }
}

.settings__name {
  font-size: 16px;
  font-weight: 300;
}

.settings__sub {
  margin: 0;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.settings__time {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 700;
}

.settings__text {
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0 15px;
  padding-right: 25px;
  font-weight: 300;

  &:last-child {
    margin-bottom: 0;
  }
}

.settings__list {
  margin: 0;
  padding: 0 15px;
  text-align: center;
}

.settings__item {
  margin-bottom: 15px;
  font-weight: 300;
  list-style: inside;

  &:last-child {
    margin-bottom: 0;
  }
}

.settings__video {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 12px 15px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 300;
  border: 1px solid #FFFFFF;
  border-radius: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  &--file {
    border: 1px solid #FCF811;
  }
}

.settings__file {
  display: none;

  &::-webkit-file-upload-button {
    display: none;
  }
}

.settings__output {
  display: block;
  max-width: 150px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

.settings__counter {
  position: absolute;
  top: 5px;
  right: -45px;
  box-sizing: border-box;
  min-width: 34px;
  min-height: 30px;
  padding: 9px 6px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  border-radius: 50%;
  transition: 0.2s;

  &--hide {
    opacity: 0;
    transform: scale(0);
  }
}

@media (min-width: $tablet-width) {
  .settings {
    overflow-y: unset;
  }

  .settings__close {
    top: 25px;
    right: 25px;
    left: auto;
    width: 45px;
    height: 45px;
  }

  .settings__icon {
    width: 33px;
    height: 33px;
  }

  .settings__control {
    padding-right: 75px;
  }

  .settings__button {
    margin-bottom: 15px;
    font-size: 18px;
  }

  .settings__tab {
    max-width: 700px;

    &--scroll {
      top: 120px;
      bottom: 120px;
    }
  }

  .settings__label {
    justify-content: center;

    &--hide {
      margin-top: -30px;
    }
  }

  .settings__name {
    font-size: 18px;
  }

  .settings__sub {
    font-size: 30px;
  }

  .settings__text {
    font-size: 18px;
  }

  .settings__item {
    font-size: 18px;
  }

  .settings__video {
    padding: 15px 25px;
    font-size: 18px;
  }

  .settings__file {
    max-width: 185px;
    padding: 15px 20px;
    font-size: 18px;
  }

  .settings__output {
    max-width: 200px;
  }

  .settings__counter {
    top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .settings {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .settings__close {
    top: 35px;
    right: 35px;
    width: 60px;
    height: 60px;
  }

  .settings__icon {
    width: 40px;
    height: 40px;
  }

  .settings__control {
    width: 40%;
    margin-bottom: 0;
    padding-right: 0;
  }

  .settings__button {
    padding: 15px 25px;
    font-size: 25px;
  }

  .settings__wrapper {
    width: 60%;

    &::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }
  }

  .settings__tab {
    max-width: none;

    &--scroll {
      top: 50px;
      bottom: 50px;
    }
  }

  .settings__label {
    margin-bottom: 10px;

    &--hide {
      margin-top: -44px;
    }
  }

  .settings__name {
    font-size: 25px;
  }

  .settings__sub {
    margin-bottom: 30px;
    font-size: 40px;
  }

  .settings__text {
    margin-bottom: 30px;
    font-size: 23px;
  }

  .settings__time {
    font-size: 20px;
  }

  .settings__item {
    font-size: 25px;
  }

  .settings__video {
    font-size: 22px;
  }

  .settings__file {
    max-width: 240px;
    font-size: 25px;
  }

  .settings__counter {
    top: 12px;
    right: -50px;
    font-size: 14px;
  }
}
