.settings {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding: 20px 15px;
  color: #FFFFFF;
  background-color: rgba($blue-text, 0.5);
  backdrop-filter: blur(1px);
  outline: none;
  overflow-y: scroll;
  transition: 0.5s;
  z-index: 4;

  &--hide {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
  }
}

.settings__close {
  position: absolute;
  bottom: 25px;
  right: 20px;
  width: 45px;
  height: 45px;
  z-index: 3;
}

.settings__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  fill: $blue-button;
}

.settings__wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 183px - 60px);
}

.settings__control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;

  &--hide {
    display: none;
  }
}

.settings__button {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  box-shadow: none;
  transition: 0.2s;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 0 10px 3px rgba(#FFFFFF, 0.9);
  }

  &:active {
    box-shadow: 0 0 10px 6px rgba(#FFFFFF, 0.9);
  }

  &--active {
    box-shadow: 0 0 10px 5px rgba(#FFFFFF, 0.9);
  }
}

.settings__tab {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  outline: none;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s;

  &--active {
    transform: translate(-50%, -50%) scale(1);
  }

  &--relative {
    top: 0;
    transform: translate(-50%, 0) scale(1);
  }
}

.settings__label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s;

  &:last-child {
    margin-bottom: 0;
  }

  &--hide {
    position: relative;
    margin-top: -18px;
    margin-bottom: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    opacity: 0;
    transform: scale(0);
  }
}

.settings__checkbox {
  width: 15px;
  height: 15px;
  margin: 0;
  margin-right: 10px;

  &:disabled {
    cursor: not-allowed;
  }
}

.settings__name {
  font-size: 15px;
  font-weight: 300;
}

.settings__sub {
  margin: 0;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.settings__time {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 700;
}

.settings__text {
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0 20px;
  font-weight: 300;

  &:last-child {
    margin-bottom: 0;
  }
}

.settings__list {
  margin: 0;
  padding: 0 10px;
  text-align: center;
}

.settings__item {
  margin-bottom: 8px;
  font-weight: 300;
  list-style: inside;

  &:last-child {
    margin-bottom: 0;
  }
}

.settings__video {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 300;
  border: 1px solid #FFFFFF;
  border-radius: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.settings__file {
  display: inline-block;
  max-width: 150px;
  margin: 0 auto;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 300;
  font-family: inherit;
  border: 1px solid #FFFFFF;
  border-radius: 30px;

  &::-webkit-file-upload-button {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .settings {
    overflow-y: unset;
  }

  .settings__close {
    top: 25px;
    right: 25px;
    left: auto;
    width: 45px;
    height: 45px;
  }

  .settings__icon {
    width: 33px;
    height: 33px;
  }

  .settings__control {
    padding-right: 50px;
  }

  .settings__button {
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 18px;
  }

  .settings__tab {
    max-width: 700px;
  }

  .settings__label {
    justify-content: center;
    margin-bottom: 15px;

    &--hide {
      margin-top: -37px;
    }
  }

  // .settings__checkbox {
  //   margin-top: 4px;
  // }

  .settings__name {
    font-size: 18px;
  }

  .settings__sub {
    font-size: 30px;
  }

  .settings__text {
    font-size: 18px;
  }

  .settings__item {
    font-size: 18px;
  }

  .settings__video {
    padding: 15px 25px;
    font-size: 18px;
  }

  .settings__file {
    max-width: 185px;
    padding: 15px 20px;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .settings {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .settings__close {
    top: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
  }

  .settings__icon {
    width: 40px;
    height: 40px;
  }

  .settings__control {
    width: 40%;
    margin-right: 30px;
    margin-bottom: 0;
    padding-right: 0;
  }

  .settings__button {
    padding: 15px 25px;
    font-size: 25px;
  }

  .settings__wrapper {
    width: 60%;
  }

  .settings__tab {
    max-width: none;
  }

  .settings__label {
    margin-bottom: 15px;

    &--hide {
      margin-top: -45px;
    }
  }

  .settings__name {
    font-size: 25px;
  }

  .settings__sub {
    margin-bottom: 30px;
    font-size: 40px;
  }

  .settings__text {
    margin-bottom: 30px;
    font-size: 25px;
  }

  .settings__time {
    font-size: 20px;
  }

  .settings__item {
    font-size: 25px;
  }

  .settings__video {
    font-size: 25px;
  }

  .settings__file {
    max-width: 240px;
    font-size: 25px;
  }
}

// @media (prefers-color-scheme: dark) {
//   .settings {
//     background-color: rgba(#02182B, 0.8);
//   }

//   .settings__icon {
//     fill: $dark-blue;
//   }
// }
