.statistics {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 10px 15px;
  // color: $blue-text;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba($dark-element, 0.5);
  transition: 0.6s;
  transform: translateY(-100%);

  &--hide {
    opacity: 0;
    transform: translateY(0);
  }

  &--off {
    display: none;
  }
}

.statistics__category {
  margin: 0;
  margin-bottom: 5px;
  font-size: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  span {
    color: #FFFFFF;
    font-weight: 300;
  }

  &--hide {
    display: none;
  }
}

.statistics__ufh {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 35px;
  height: 23px;
  background-color: rgba($dark-element, 0.5);
  opacity: 0.8;
  transition: 0.6s;
  transform: translateY(-150%);
}

@media (min-width: $tablet-width) {
  .statistics__category {
    font-size: 13px;
  }

  .statistics__ufh {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 45px;
    height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .statistics {
    padding: 20px 30px;
  }

  .statistics__category {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .statistics__ufh {
    top: 25px;
    left: 25px;
    width: 80px;
    height: 52px;
  }
}
