.video {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgb(245, 246, 247);
  object-fit: cover;
}

.video__wrapper {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  min-height: 144px;
  box-shadow: 0 0 10px 3px rgba(#6320EE, 0.5);
  border-radius: 10px;
  overflow: hidden;

  &:hover {

    .control {
      transform: translateY(0);
    }
  }
}

.video__start {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline-style: inset;
  outline-offset: -2px;
  border-radius: 10px;
  transition: 0.2s;
  z-index: 1;

  &--hide {
    background-color: transparent;
    opacity: 0;
    z-index: -1;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($blue-button, 0.2);
  }

  &:hover,
  &:focus {
    box-shadow: none;

    .video__icon {
      transform: translate(-50%, -50%) scale(1.2);

      path {
        opacity: 1;
      }
    }
  }

  &:active {

    .video__icon {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
}

.video__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;

  path {
    opacity: 0.6;
    stroke: $blue-text;
    transition: 0.2s;
  }
}

@media (min-width: $tablet-width) {
  .video__wrapper {
    width: 700px;
    min-height: 350px;
  }

  .video__icon {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: $desktop-width) {
  .video__wrapper {
    width: 900px;
    min-height: 505px;
    height: 505px;
  }

  .video__icon {
    width: 170px;
    height: 170px;
  }
}

// @media (prefers-color-scheme: dark) {
//   .video {
//     background-color: #364652;
//   }

//   .video__wrapper {
//     box-shadow: 0 0 10px 3px rgba($dark-blue, 0.9);
//   }

//   .video__icon path {
//     stroke: $dark-blue;
//   }
// }
