.video {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #F8F0FB;
  outline: none;
  transition: 0.2s;

  &::-webkit-media-controls {
    display: none;
  }

  &::-webkit-media-enclosure {
    display: none;
  }

  &::-webkit-media-panel {
    display: none;
  }

  &::-moz-media-controls {
    display: none;
  }

  &::-ms-media-controls {
    display: none;
  }

  &::-o-media-panel {
    display: none;
  }
}

.video__wrapper {
  position: relative;
  box-sizing: border-box;
  width: 95%;
  max-width: 520px;
  margin: 0 auto;
  box-shadow: 0 0 25px 5px #6320EE;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
  transform-style: preserve-3d;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;

  &:fullscreen {
    border-radius: 0;

    .video {
      border-radius: 0;
      object-fit: contain;
      background-color: #212121;
    }

    .control {
      border-radius: 0;
    }
  }

  &:hover {

    .control {
      transform: translateY(0);
    }

    .statistics {
      transform: translateY(0);
    }

    .statistics__ufh {
      transform: translateY(0);
    }
  }

  &--waiting {
    animation-name: load;
  }

  &--error {
    box-shadow: 0 0 25px 5px rgba($red, 0.8);
  }

  &--pause {
    animation-name: pause;
  }
}

@keyframes load {
  100% {
    box-shadow: 0 0 25px 5px $green;
  }
}

@keyframes pause {
  100% {
    box-shadow: 0 0 25px 8px #6320EE;
  }
}

.video__start {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 10px;
  transition: 0.2s;

  &--hide {
    background-color: transparent;
    opacity: 0;
    z-index: -1;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($blue-button, 0.2);
  }

  &:hover,
  &:focus {

    .video__icon {
      transform: translate(-50%, -50%) scale(1.2);

      path {
        opacity: 1;
      }
    }
  }

  &:active {

    .video__icon {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
}

.video__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;

  path {
    opacity: 0.6;
    stroke: $blue-text;
    transition: 0.2s;
  }
}

.video__background {
  display: none;
}

@media (min-width: $tablet-width) {
  .video__wrapper {
    width: 100%;
    max-width: 700px;
  }

  .video__icon {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: $laptop-width) {
  .video__wrapper {
    max-width: 730px;
  }
}

@media (min-width: $desktop-width) {
  .video__wrapper {
    width: 900px;
  }

  .video__icon {
    width: 250px;
    height: 250px;
  }
}
